aiobotocore==2.5.0
aiofiles==24.1.0
aiohttp==3.8.5
aiohttp-cors==0.7.0
aioitertools==0.11.0
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.2.0
azure-core==1.30.2
azure-storage-blob==12.20.0
botocore==1.29.76
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
fonttools==4.53.1
frozenlist==1.4.1
h5py==3.11.0
h5pyd @ git+https://github.com/hdfgroup/h5pyd@41be47956e0c03216bdebc458dd1c999dfadaf7a
hsds==0.8.4
idna==3.7
isodate==0.6.1
jmespath==1.0.1
kiwisolver==1.4.5
matplotlib==3.9.1
multidict==6.0.5
NREL-rex @ git+https://github.com/nrel/rex@ed3cfcc8821db9b2b06c175d2115d5f845ba3c50
numcodecs==0.13.0
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pillow==10.4.0
psutil==6.0.0
pycparser==2.22
PyJWT==2.8.0
pyparsing==3.1.2
pyproj==3.6.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
requests-unixsocket==0.3.0
rev==0.1.1
scipy==1.14.0
seaborn==0.13.2
simplejson==3.19.2
six==1.16.0
toml==0.10.2
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.19
wrapt==1.16.0
yarl==1.9.4
